# IDE
.idea/
.vscode/

# Kotlin / Gradle
.kotlin/
.gradle/
build/

# Logs
*.log
*.txt

# Local configs
local.properties
.env
service-account.json

# Exclude backend and iOS from Android repo
backend/
BestBefore_Prototype_IOS/

# Temp scripts
split_profile.ps1
